*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inizio header*/

header{
    height: 80px;
    background-color: black;
}

header .speaker{
    background-color: #4a4a4a;
    color: white;
    float: right;
    font-size: 20px;
    padding: 5px;
    margin-left: 15px;
    border-radius: 10px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/*fine header*/


/*inizio main*/

main{
    width: 100%;
    height: calc( 100vh - 80px - 80px);
    background-color: black;
    overflow-y: auto;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 200px;
    width: calc( 100% / 7 ); 
    position: relative; 
}

.card img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.mic{
    color: white;
    background-color: #4a4a4a;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

/*fine main*/

/*inizio footer*/

footer{
    background-color: #222222;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer .scritta i{
    font-size: 30px;
}

footer .strumenti-left, .strumenti-center{
    display: flex;
    align-items: center;   

}

footer .scritta{
    text-align: center;
    padding: 15px;
}

.strumenti-right{
    line-height: 80px;
    background-color: #4a4a4a;
    color: red;
    font-size: 20px;
    padding-left: 30px;
}

/*fine footer*/


